<li>
    <a href="#">
        <div>
            <i class="fa fa-comment fa-fw"></i> {{flash.message}}
            <span class="pull-right text-muted small">{{t 'minutes_ago' minutes=4}}</span>
        </div>
    </a>
</li>
<li class="divider"></li>
