<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-offset-1 space-top space-bottom">
    {{#power-select-typeahead
      placeholder=(t 'search')
      search=(action 'findAll')
      selected=selected.name
      renderInPlace=true
      allowClear=true
      onchange=(action (mut selected))
    as |result|}}
      <LinkTo @route=result.type @query={{hash id=result.id}}>
        <div>
          {{result.name}}
          <span class="pull-right global-search-model-style" >{{t result.tradKey}}</span>
        </div>
      </LinkTo>
    {{/power-select-typeahead}}
  </div>
</div>
