<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-offset-1" style="margin-bottom: 1%; margin-top: 1%">
    {{#power-select-typeahead
      placeholder=(t 'search')
      search=(action 'findAll')
      selected=selected.name
      renderInPlace=true
      allowClear=true
      onchange=(action (mut selected))
    as |result|}}
      {{#link-to result.type result.id tagName='div'}}
        {{result.name}}
        <span style="color: #9b9aa5;font-style: italic;" class="pull-right" >{{t result.tradKey}}</span>
      {{/link-to}}
    {{/power-select-typeahead}}
  </div>
</div>
