{{#bs-form as |form|}}
  {{#form.element label=(t 'search')}}
    {{#power-select
      selected=selectedObject
      options=allObjects
      onchange=(action (mut selectedObject))
      allowClear=true
      placeholder=(t 'search')
    as |searchResult|
    }}
      {{searchResult}}
    {{/power-select}}
  {{/form.element}}
  <!--<a href="#" {{action 'clear'}}>{{t 'clear_selection'}}</a>-->
{{/bs-form}}
<!--search=(action 'search')-->