<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputUsername" class="sr-only">Username</label>
  {{#bs-input type='text' value=inputUsername
  placeholder='Username' autofocus='autofocus' required='required'}}
  {{/bs-input}}

    <label for="inputPassword" class="sr-only">Password</label>
  {{#bs-input type='password' value=inputPassword
  placeholder='Password' required='required'}}
  {{/bs-input}}

    <button class="btn btn-lg btn-primary btn-block" type="submit"
      {{action 'login'}}>Sign in
    </button>

  {{#if pending}}
      <span class="glyphicon glyphicon-refresh" style="color: orange" aria-hidden="true"></span>
  {{/if}}

  {{#if errorMessage}}
      <div class="alert-danger">
        {{errorMessage}}
      </div>
  {{/if}}
</form>
