<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each logs as |log|}}
        <tr>
            <td>{{log.id}}</td>
            <td>{{log.message}}</td>
            <td>{{log.timestamp}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
