<footer class="navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted text-center">
            {{getenv 'appname'}} version: {{globalInfo.version}}
            --
            {{#link-to "about"}}{{t 'about.title'}}{{/link-to}} - {{getenv 'siteUrl'}}
        </p>
    </div>
</footer>
