<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
              {{#link-to 'index'}}
                  <i class="fa fa-dashboard fa-fw"></i> Dashboard
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'system-overview'}}
                  <i class="fa fa-cog fa-fw"></i> Overview
              {{/link-to}}
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Access<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>{{#link-to 'access-overview'}}
                      {{t 'access-overview.title'}}
                    {{/link-to}}</li>
                    <li>
                      {{#link-to 'users.list'}}Users{{/link-to}}
                    </li>

                    <li>{{#link-to 'groups.list'}}Groups{{/link-to}}</li>

                    <li>{{#link-to 'credentials.list'}}Credentials{{/link-to}}</li>

                    <li>{{#link-to 'schedules.list'}}Schedules{{/link-to}}</li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> Hardware<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                      {{#link-to 'doors.list'}}Doors{{/link-to}}
                    </li>
                    <li>
                      {{#link-to 'access-points.list'}}Access Points{{/link-to}}
                    </li>
                    <li>
                      {{#link-to 'modules.evoxs.update'}}Hardware Update{{/link-to}}
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Modules<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                      {{#link-to 'modules.smtp'}}SMTP{{/link-to}}
                    </li>
                    <li>
                      {{#link-to 'modules.evoxs'}}EvoXS{{/link-to}}
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Other<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                      {{#link-to 'auditlog'}}Audit Log{{/link-to}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
