<table class="table table-striped">
    <thead>
    <tr>
        <th>Credential #Id</th>
        <th>Alias</th>
        <th>Type</th>
        <th>Display Identifier</th>
    </tr>
    </thead>
    <tbody>
    {{#each user.credentials as |credential|}}
        <tr>
            <td>
              {{link-to-credential credential=credential text=credential.id}}
              </td>
            <td>{{credential.alias}}</td>
            <td>{{credential.type}}</td>
            <td>{{credential.displayIdentifier}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
