<div>
    <div class="col-md-6">
      {{pin-code-form pin=model action=(route-action 'createPin')}}
    </div>

    <div class="col-md-6">
      {{validity-control enabled=(mut model.validityEnabled)
                         startDate=(mut model.validityStart)
                         endDate=(mut model.validityEnd)}}
    </div>
</div>
