<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Parameters'}}

        <div >
          {{button-with-confirmation
            type='danger'
            icon='glyphicon glyphicon-remove'
            size='sm'
            text='Delete'
            message='Are you sure you wish to delete this credential ?'
            onConfirm=(route-action 'deleteCredential')
          }}
        </div>

        <div class="col-md-6">
          {{pin-code-form pin=model action=(route-action 'updatePin')}}
        </div>

        <div class="col-md-6">
          {{validity-control enabled=(mut model.validityEnabled)
                             startDate=(mut model.validityStart)
                             endDate=(mut model.validityEnd)}}
        </div>

    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Access'}}
      {{credential-schedules credential=model}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
