<div>
  <h2>Alias: {{this.model.alias}}</h2>
</div>

<div>
  {{#bs-tab as |tab|}}
    {{#tab.pane title=(t 'parameters')}}
        {{pin-code-form pin=model action=(route-action 'updatePin') delete=(route-action 'deleteCredential')}}
    {{/tab.pane}}

    {{#tab.pane title=(t 'access')}}
      {{credential-schedules credential=this.model}}
    {{/tab.pane}}
  {{/bs-tab}}
</div>