<div>
  <h2>Alias: {{model.alias}}</h2>
</div>

<div>
  {{#bs-tab as |tab|}}
    {{#tab.pane title=(t 'parameters')}}
      {{rfid-card-form card=model action=(route-action 'updateCard') delete=(route-action 'deleteCredential')}}
    {{/tab.pane}}

    {{#tab.pane title=(t 'access')}}
      {{credential-schedules credential=model}}
    {{/tab.pane}}
  {{/bs-tab}}
</div>