<div>
    <h2>Alias: {{model.alias}}</h2>
</div>

<div>
    {{#bs-tab as |tab|}}
        {{#tab.pane title=(t 'parameters')}}
            <div class="row" style="margin-top: 1%;">
                {{rfid-card-form card=model action=(route-action 'updateCard')}}
            </div>
            <div class="row col-md-4" style="margin-bottom: 1%; margin-top: 1%;">
                {{button-with-confirmation
                        type='danger'
                        icon='glyphicon glyphicon-remove'
                        size='sm'
                        text=(t 'delete')
                        message=(t 'credentials.delete_confirm')
                        onConfirm=(route-action 'deleteCredential')
                }}
            </div>
        {{/tab.pane}}

        {{#tab.pane title=(t 'access')}}
            {{credential-schedules credential=model}}
        {{/tab.pane}}
    {{/bs-tab}}
</div>