<div>
        <div class="col-md-6">
          {{wiegand-card-form card=model action=(route-action 'createCard')}}
        </div>

        <div class="col-md-6">
          {{validity-control enabled=(mut model.validityEnabled)
                             startDate=(mut model.validityStart)
                             endDate=(mut model.validityEnd)}}
        </div>
</div>
