<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Parameters'}}
        <div class="row col-md-6">
          {{wiegand-card-form card=model action=(route-action 'updateCard')}}
        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Access'}}
        Coming later.
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
