<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Parameters'}}
        <div class="col-md-6">
          {{wiegand-card-form card=model action=(route-action 'updateCard')}}
        </div>

        <div class="col-md-6">
            {{validity-control enabled=(mut model.validityEnabled)
                               startDate=(mut model.validityStart)
                               endDate=(mut model.validityEnd)}}
        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Access'}}
        Coming later.
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
