@import 'customizable-style.css';
@import 'workaround-ember-bootstrap.css';

body {
  background-color: #eee;
  min-height: 100%;
  padding-bottom: 35px;
}

/**
 * Style for the login form
 */
.form-signin {
    max-width: 440px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 15px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F7F7FF; // Choose your own color here
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7FF;
}

.form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.pulled-down-row {
    font-size: 0;
}

.pulled-down-row > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}

.pulled-down-row > *:last-child {
    vertical-align: middle;
}

.navbar-logo {
    height: 48px;
    width: auto;
}

.table-responsive table thead th {
    padding: 5px;
}

.disabled-greyed {
    opacity: 0.4;
    pointer-events: none;
}

.panel-body {
    margin-top: 0;
    padding: 15px 15px 0;
}

.page-wrapper {
  border: 1px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.jstree-node {
    font-size: 12pt;
}

/*
Set the color in the boolean-to-color-yes-no helper
 */

.boolean-to-colored-no {
  color: darkred;
}

.boolean-to-colored-yes {
  color: green;
}

/*
Center the button under the svg image in the index,
and add a little space to aerate the template
 */

.center-image {
  text-align: center;
  margin-top: 10px;
}
