# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# See http://help.github.com/ignore-files/ for more about ignoring files.

.idea/
*.pyc
web-service/flask-interface/venv/
web-service/flask-interface/dist
web-service/flask-interface/Falsk_Interface.egg-info
web-service/flask-interface/.idea

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml
.idea/leosac-web.iml
.idea/modules.xml
app/.idea/inspectionProfiles/Project_Default.xml

app/.idea/**/workspace.xml
app/..idea/**/tasks.xml
app/..idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

app/.idea/dictionaries/stagiaire.xml
app/.idea/**/dataSources/
app/.idea/**/dataSources.ids
app/.idea/**/dataSources.xml
app/.idea/**/dataSources.local.xml
app/.idea/**/sqlDataSources.xml
app/.idea/**/dynamic.xml
app/.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

app/.idea/**/gradle.xml
app/.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml
app/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/
app/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

/bower_components
/dist
/node_modules
package-lock.json
/tmp

/lib/**/node_modules
/lib/**/package-lock.json
/lib/**/bower_components/
package-lock.json

tests/

web-service/leosac/
**/.vscode
**/note

acceptance-test/reports
acceptance-test/selenium-debug.log
yarn-error.log
# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
