<li>
    <a href="#">
        <div>
            <FaIcon @icon="comment" @fixedWidth={{true}} />  {{this.flash.message}}
            <span class="pull-right text-muted small">{{t 'minutes_ago' minutes=4}}</span>
        </div>
    </a>
</li>
<li class="divider"></li>
