alembic==0.9.6
astroid==1.5.3
Babel==2.3.4
bcrypt==3.1.4
beautifulsoup4==4.4.1
blinker==1.4
cffi==1.11.2
click==6.6
dominate==2.3.1
extras==0.0.3
-e git+git@pontos.islog.private:xaqq/leosac-web.git@e2795013c51604fb25c4e7c23f9cf04d52109a0e#egg=Falsk_Interface&subdirectory=web-service/flask-interface
fixtures==2.0.0
Flask==0.11.1
Flask-Admin==1.5.0
flask-appconfig==0.11.1
Flask-Babel==0.11.1
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-Debug==0.4.3
Flask-Gravatar==0.4.2
Flask-HTMLmin==1.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
flask-nav==0.6
Flask-Paranoid==0.1.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-User==0.6.19
Flask-WTF==0.12
htmlmin==0.1.11
inflection==0.3.1
isort==4.2.15
itsdangerous==0.24
Jinja2==2.7.3
lazy-object-proxy==1.3.1
linecache2==1.0.0
Mako==1.0.7
MarkupSafe==0.23
mccabe==0.6.1
passlib==1.6.2
pbr==1.9.1
pipdeptree==0.10.1
pkg-resources==0.0.0
psycopg2==2.7.3.2
pycparser==2.18
pycryptodome==3.4.7
pylint==1.7.4
pyrsistent==0.11.13
python-dateutil==2.5.0
python-editor==1.0.3
python-mimeparse==1.5.1
pytz==2014.10
simplejson==3.6.5
six==1.11.0
speaklater==1.3
SQLAlchemy==1.0.14
sqlparse==0.1.19
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
visitor==0.1.3
Werkzeug==0.9.6
wrapt==1.10.11
WTForms==2.0.2
