{{#autocomplete/access-point label=(t 'access_point')
                            selected=model.alias}}{{log "LJLJLJKL"}}{{/autocomplete/access-point}}

<ul>
    <li>
        {{#bs-button}}
            {{t 'evoxs.operations.set_time'}}
        {{/bs-button}}
    </li>
    <li>
        {{#bs-button}}
            {{t 'evoxs.operations.extract_event'}}
        {{/bs-button}}
    </li>
</ul>