{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container">
        <h1>Reset Password</h1>
        {% if current_user.is_authenticated %}
            <p>You are logged in</p>
            <a class="btn btn-default" href="/">Return home</a>

        {% else %}
            <div class="row">
                <div class="col-md-6">
                    <p>
                        If you have entered an existing email address,
                        you should have received a email with a link to reset your password in it.
                    </p>
                    <a class="btn btn-default" href="/login">Login</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}