<div id="Tooltip-test">
{{#bs-button text=(t 'test') onClick=(action 'testPiface') size='xs' type='warning'}}
  {{#bs-tooltip placement="right" triggerElement="#Tooltip-test" triggerEvent='hover'}}{{t 'information.test'}}{{/bs-tooltip}}
{{/bs-button}}
</div>