body {
  background-color: #eee;
  min-height: 100%;
  padding-bottom: 35px;
}

/**
 * Style for the login form
 */
.form-signin-container {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90vh
}

.form-signin-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.form-signin {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F7F7FF; /* Choose your own color here */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7FF;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.pulled-down-row {
    font-size: 0;
}

.pulled-down-row > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}

.pulled-down-row > *:last-child {
    vertical-align: middle;
}

.navbar-logo {
    height: 48px;
    width: auto;
}

a:hover {
    color: #0070c0;
}

.navbar-default {
    border-color: #0070c0;
}

.navbar-fixed-bottom {
    background-color: rgba(204,204,204,0.7);
    padding-top: 5px;
}

.btn-primary {
    background-color: #0070c0;
    border-color: #0066ff;
}

.btn-primary.active {
    background-color: #0066ff;
    border-color: #0066ff;
}

.btn-primary:hover {
    background-color: #004D85;
    border-color: #FFFFFF;
}

.btn-primary.active:hover {
    background-color: #004D85;
    border-color: #0066ff;
}

.panel-default .panel-heading {
    background-color: #0070c0;
    color: #fff;
}

.table-responsive {
    padding-top: 5px;
}

.table-responsive table thead {
    background-color: #0070c0;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-responsive table thead th {
    padding: 5px;
}

.disabled-greyed {
    opacity: 0.4;
    pointer-events: none;
}

.panel-body {
    margin-top: 0;
    padding: 15px 15px 0;
}

.jstree-node {
    font-size: 12pt;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 25px;
}

.sidebar-brand-icon {
  height: 40px;
  margin: 5px;
}