<h3><span style="color: darkred">Session aborted. </span></h3>
You should be redirected to the login page in 5 seconds. If that's not
the case, please click {{#link-to 'login'}}here{{/link-to}}. <br>
