{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container">
        <h1>Leosac Admin Dashboard</h1>
        {% if (current_user.is_authenticated) %}
            <div class="row pull-right">
                <a class="btn btn-default" href="/">Home</a>
                <a class="btn btn-default" href="/logout">Logout</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Browse list</th>
                            <th>Modify user</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role.name }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-default"
                                       href="{{ url_for('routes.admin_browse_list', id=user.id) }}">List of the Browse
                                        config</a>
                                </td>
                                {% if current_user.id != user.id %}
                                    <td>
                                        <a class="btn btn-default"
                                           href="{{ url_for('routes.admin_modify_user', id=user.id) }}">Modify user</a>
                                    </td>
                                {% endif %}
                                {% if current_user.id != user.id %}
                                    <td>
                                        <a onclick="myFunction('{{ url_for('routes.admin_delete_user', id=user.id) }}')"
                                           class="btn btn-danger">Delete user</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary" href="{{ url_for('routes.admin_create_user') }}">Create New User</a>
                    {#                                <a class="btn btn-default" href="/login">Login</a>#}
                </div>
            </div>
        {% else %}
            <p>Please login</p>

            <a class="btn btn-default" href="/login">Login</a>
            <a class="btn btn-default" href="/register">Register</a>
        {% endif %}
    </div>
    {% block scripts %}
        {{ super() }}
        <script>
            function myFunction(route) {
                if (confirm("Are you sure you want to delete this user?")) {
                    window.location.href = route;
                }
                else
                    return false;
            }
        </script>

    {% endblock %}
{% endblock %}
{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
    <title>
        Admin Dashboard
    </title>
{% endblock %}