{{#bs-form formLayout="horizontal" model=led onSubmit=action as |form|}}
  <fieldset>
    <div class="col-md-4">
      {{led-buzzer-form model=model ledBuzzer=led form=form}}
      <div class="row">
        <div class="col-md-2">
          {{bs-button
            defaultText=(t 'submit')
            type="primary"
            size="md"
            buttonType="submit"}}
        </div>
      </div>
    </div>
  </fieldset>
{{/bs-form}}