{{#power-select-typeahead search=(action 'searchDevice')
                selected=newDevice
                placeholder=placeholder
                allowClear=true
                onchange=(action (mut newDevice)) as |device|}}
  {{device.name}}

  <span style="color: #9b9aa5;font-style: italic;margin-right:20px;" class="pull-right">
    {{device.type}}
  </span>
{{/power-select-typeahead}}