<div class="row col-md-6">
  {{#bs-form formLayout='horizontal' model=model
             onSubmit=(route-action "createGroup") as | form |}}
      <fieldset>
          <legend>{{t 'users.group_info'}}</legend>
      </fieldset>

    {{form.element controlType='text' label=(t 'users.group_name')
                      property='name'}}

    {{form.element controlType='textarea' label=(t 'description')
                      property='description'}}

    {{#bs-button class="btn-block" type="primary" buttonType="submit"}}
        {{t 'users.create_group'}}
    {{/bs-button}}
  {{/bs-form}}
</div>
