{{#bs-form formLayout='horizontal' model=model
           onSubmit=(route-action "createGroup") as | form |}}
    <div class="row">
        <div class="col-md-4">
            <fieldset>
                <legend>{{t 'users.group_info'}}</legend>
            </fieldset>

            {{form.element controlType='text' label=(t 'users.group_name')
                           placeholder="MySuperGroup"
                           property='name'}}

            {{form.element controlType='textarea' label=(t 'description')
                           placeholder="Description"
                           property='description'}}
        </div>
    </div>
    <div class="col-md-12 row">
        <br>
    </div>
    <div>
        <div class="col-md-2">
            {{#bs-button class="btn-block" type="primary" buttonType="submit"}}
                {{t 'users.create_group'}}
            {{/bs-button}}
        </div>
    </div>
{{/bs-form}}
