<LinkTo @route='groups.create'>
    <span class='btn btn-primary'>{{t 'users.create_new_group'}}</span>
</LinkTo>
<hr>

{{t 'users.list_groups_notice'}}

<GroupList @groups={{this.model}} @deleteLink={{true}} />
