<h4>An error has occurred.</h4>

<div id="content">
    <h6>Status Code: {{model.status_code}}</h6>
    <h6>Message: {{model.status_string}}</h6>
</div>

<p>{{#link-to 'index'}}Return to index.{{/link-to}}</p>
