{{#bs-tab}}
  {{#bs-tab-pane title='Time frames'}}
<div class="col-md-6">
  {{schedule-form schedule=model action=(route-action 'editSchedule')}}
</div>
  {{/bs-tab-pane}}

  {{#bs-tab-pane title='Mapping'}}
    Lets map our schedule.
  {{/bs-tab-pane}}
{{/bs-tab}}
